/*Este selector permite agregar fuentes que tengamos en una carpeta
Lo normal es crear un archivo fonts.css con estas instrucciones*/
@font-face {
	font-family: "RobotoSlab";
	src:url('fonts/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: "RobotoSlabThin";
	src:url('fonts/RobotoSlab-Thin.ttf');
}

@font-face {
	font-family: "RobotoSlabLight";
	src:url('fonts/RobotoSlab-Light.ttf');
}

@font-face {
	font-family: "RobotoSlabBold";
	src:url('fonts/RobotoSlab-Bold.ttf');
}


/*Lo más habitual es utilizar fuentes de Google Fonts. 
Se importan en el código html mediante el link que se generar en la web de Google*/
body {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-weight: bold;
}