/*Eliminamos los márgenes que meten los navegadores*/
* {
	margin: 0;
	padding: 0;
}

/*Cambiamos el color de forndo*/
body {
	background: #000500;
}

/*Hacemos que ocupe todo el ancho de la pantalla*/
.galeria {
	width: 100%
}

/*Ajustamos las propiedades de visualización de las imagenes*/
.galeria img {
	vertical-align: top;
	width: 400px;
	margin: 20px;
	padding: 5px;
	border: 1px solid #484848;
	opacity: 0.5; /*Disminuimos el brillo para hacer que se "iluminen" al pasar el ratón*/
}

/*Ajustamos el efecto al pasar el ratón*/
.galeria img:hover {
	border: 1px solid #fff;
	opacity: 1;	
}