<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Layout básica</title>
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul class="menu">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Quiénes somos</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>

			<section class="posts">
				<article>
					<h2>Título del artículo</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad totam neque eveniet earum officia tempora, deserunt incidunt maiores nam fuga? Fugiat dolorum aut ex harum, impedit nobis sapiente iure architecto.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad totam neque eveniet earum officia tempora, deserunt incidunt maiores nam fuga? Fugiat dolorum aut ex harum, impedit nobis sapiente iure architecto.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam, excepturi natus illum aspernatur exercitationem velit quisquam obcaecati, distinctio ratione officiis maxime. Ut iure error suscipit expedita nisi, impedit voluptas.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam, excepturi natus illum aspernatur exercitationem velit quisquam obcaecati, distinctio ratione officiis maxime. Ut iure error suscipit expedita nisi, impedit voluptas.</p>
				</article>
			</section>

		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Artículos destacados</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
				</ul>
			</div>
			<div class="widget">
				<h3 class="titulo">Información</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam, excepturi natus illum aspernatur exercitationem velit quisquam obcaecati, distinctio ratione officiis maxime. Ut iure error suscipit expedita nisi, impedit voluptas.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam, excepturi natus illum aspernatur exercitationem velit quisquam obcaecati, distinctio ratione officiis maxime. Ut iure error suscipit expedita nisi, impedit voluptas.</p>
			</div>
		</aside>

		<footer>
			<p>Miguel Laguna - Todos los derechos reservados</p>
		</footer>

	</div>
	
</body>
</html>